.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 0 10px 0 10px;
}

.botao {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.botao:hover {
    background-color: #218838;
}