.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.botao {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.botao:hover {
    background-color: #218838;
}