.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.viewContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.botaoEditar {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffc107;
    margin: 10px 0 0 0;
}

.botaoEditar:hover {
    background-color: #e0a800;
}

.botaoRemover {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #dc3545;
    margin: 10px 0 0 0;
}

.botaoRemover:hover {
    background-color: #c82333;
}

.imagemPreview {
    min-width: none;
    max-width: 25em;
    height: auto;
    object-fit: cover;
}